# ------------------------------------------------------------------------------
# (c) Crown copyright Met Office. All rights reserved.
# The file LICENCE, distributed with this code, contains details of the terms
# under which the code may be used.
# ------------------------------------------------------------------------------

name: Build Sphinx Docs

on:
  workflow_call:
    inputs:
      docs-directory:
        description: 'Directory containing the documentation source to build'
        required: false
        type: string
        default: 'documentation'
      requirements:
        description: 'Path to the requirements file to install dependencies from'
        required: true
        type: string
        default: 'requirements.txt'
      sphinx-opts:
        description: 'Additional options to pass to the Sphinx build command'
        required: false
        type: string
        default: '-W --keep-going -n'
      build-directory:
        description: 'Directory to output the html documentation to'
        required: false
        type: string
        default: 'build'
      runner:
        description: 'The runner to use for the job'
        required: false
        type: string
        default: 'ubuntu-latest'
      timeout:
        description: 'Timeout for the job in minutes'
        required: false
        type: number
        default: 5

jobs:
  build-sphinx-docs:
    name: Build Sphinx Docs
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}
    env:
      DOCS_DIR: ${{ inputs.docs-directory }}
      REQS_FILE: ${{ inputs.requirements }}
      SPHINX_OPTS: ${{ inputs.sphinx-opts }}
      BUILD_DIR: ${{ inputs.build-directory }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: ${{ inputs.requirements }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r "$REQS_FILE"

      - name: Minimize pip cache
        run: python3 -m pip cache remove '*' || true

      - name: Lint Sphinx docs
        working-directory: ${{ env.DOCS_DIR }}
        run: sphinx-lint .

      - name: Build Sphinx HTML docs
        working-directory: ${{ env.DOCS_DIR }}
        run: |
          make html SPHINXOPTS="$SPHINX_OPTS" BUILDDIR="$BUILD_DIR"

      - name: Upload artifact to GitHub Pages
        if: ${{ (github.event_name == 'push' || github.event_name == 'merge_group') && github.ref_name == 'main'}}
        uses: actions/upload-pages-artifact@v4
        with:
          name: github-pages
          path: "$BUILD_DIR/html"
          retention-days: 1
