# ------------------------------------------------------------------------------
#  (c) Crown copyright Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Fortran lint
on:
  workflow_call:

    inputs:
      runner:
        description: 'The runner to use for the job'
        required: false
        type: string
        default: 'ubuntu-latest'
      timeout:
        description: 'The maximum time in minutes the job can run for'
        required: false
        type: number
        default: 10
      python-version:
        description: 'The Python version to use'
        required: false
        type: string
        default: '3.14'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  fortitude-linting:
    name: Fortran lint
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}

    env:
      UV_CACHE_DIR: /tmp/.uv_cache

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python-version }}
          enable-cache: true

      - name: restore uv cache
        uses: actions/cache@v4
        with:
          path: ${{ env.UV_CACHE_DIR }}
          key: ${{ runner.os }}-${{ hashFiles('uv.lock') }}-fortitude-0.7.3
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Install Fortitude Linter
        run: uv pip install fortitude-lint==0.7.3

      - name: Run Fortitude Linter
        run: fortitude check --respect-gitignore --show-fixes --file-extensions=f90,F90,x90,X90 .

      - name: minimize uv cache
        run: uv cache prune --ci
