# ------------------------------------------------------------------------------
#  (c) Crown copyright Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Lint
on:
  workflow_call:
    inputs:
      runner:
        description: "The runner to use for the job"
        required: false
        type: string
        default: "ubuntu-latest"
      timeout:
        description: "The maximum time in minutes the job can run for"
        required: false
        type: number
        default: 10
      python-version:
        description: "The Python version to use"
        required: false
        type: string
        default: "3.14"

jobs:
  fortran-linting:
    name: Fortran
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}

    env:
      UV_PYTHON: ${{ inputs.python-version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup uv and Python ${{ env.UV_PYTHON }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.UV_PYTHON }}
          enable-cache: false

      - name: Install fortitude-lint
        run: uv pip install fortitude-lint==0.7.3

      - name: Run Fortitude Linter
        run: uv run fortitude check --respect-gitignore --show-fixes --file-extensions=f90,F90,x90,X90,t90,T90,pf .
