# ------------------------------------------------------------------------------
# (c) Crown copyright Met Office. All rights reserved.
# The file LICENCE, distributed with this code, contains details of the terms
# under which the code may be used.
# ------------------------------------------------------------------------------

name: Label PR

on:
  workflow_call:

jobs:
  label:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.fork }}
    steps:
      - name: Add label `contributor`
        if: ${{ github.event.action == 'opened' }}
        uses: MetOffice/growss/labeler@main
        with:
          issue: ${{ github.event.number }}
          label: contributor
          action: add

      - name: Remove label `approved-for-ci`
        if: ${{ github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name, 'approved-for-ci') }}
        uses: MetOffice/growss/labeler@main
        with:
          issue: ${{ github.event.number }}
          label: approved-for-ci
          action: remove
